In [1]:
# assumes you've downloaded data into ./data/source via ./download.sh

import os, glob, tables
import pandas as pd
from tqdm.notebook import tqdm_notebook
from tqdm import tqdm

tqdm.pandas()

/opt/conda/lib/python3.7/site-packages/tqdm/std.py:656: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [2]:
position_files = glob.glob('./data/source/*_positions.csv')

In [3]:
position_files

['./data/source/2019_05_01_positions.csv']

In [4]:
dfs = [pd.read_csv(f) for f in tqdm_notebook(position_files)]
df = pd.concat(dfs)

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
# NOTE: pd.to_datetime is converting time_pct back into utc
df['timestamp_utc'] = df['time_pct'].progress_apply(pd.to_datetime)

100%|██████████| 409238/409238 [01:56<00:00, 3499.48it/s]

In [7]:
# output cleared for notebook (just cleared error output), but run this anyway
df.set_index('timestamp_utc', inplace=True)

In [8]:
df.sort_index(inplace=True)

In [9]:
df.head()

,route_id,timestamp,trip_id,vehicle_id,vehicle_lat,vehicle_long,time_utc,time_pct
timestamp_utc,,,,,,,,
2019-04-30 16:55:20-07:00,100264,1556668520,43273165,4542,47.602890,-122.331520,2019-04-30 23:55:20,2019-04-30 16:55:20-07:00
2019-04-30 16:55:20-07:00,100002,1556668520,43271314,4372,47.632500,-122.312492,2019-04-30 23:55:20,2019-04-30 16:55:20-07:00
2019-04-30 16:55:27-07:00,100133,1556668527,43258478,3430,47.480568,-122.208710,2019-04-30 23:55:27,2019-04-30 16:55:27-07:00
2019-04-30 16:55:29-07:00,100019,1556668529,43276252,2803,47.470131,-122.337158,2019-04-30 23:55:29,2019-04-30 16:55:29-07:00
2019-04-30 16:55:35-07:00,100187,1556668535,43137941,6847,47.763859,-122.193634,2019-04-30 23:55:35,2019-04-30 16:55:35-07:00

In [10]:
df.to_hdf('./data/intermed/positions_20190501.h5', key='df', mode='w')