In [1]:
# assumes you've downloaded data into ./data/source via ./download.sh

import os, glob, tables
import pandas as pd
from tqdm import tqdm as tqdm_base, tqdm_notebook as tqdm

tqdm_base.pandas()

In [2]:
position_files = glob.glob('./data/source/*_positions.csv')

In [3]:
dfs = [pd.read_csv(f) for f in tqdm(position_files)]
df = pd.concat(dfs)

HBox(children=(IntProgress(value=0, max=31), HTML(value='')))

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
# NOTE: pd.to_datetime is converting time_pct back into utc
df['timestamp_utc'] = df['time_pct'].progress_apply(pd.to_datetime)

100%|██████████| 5154140/5154140 [05:36<00:00, 15318.18it/s]

In [6]:
# output cleared for notebook (just cleared error output), but run this anyway
df.set_index('timestamp_utc', inplace=True)

In [7]:
df.sort_index(inplace=True)

In [8]:
df.head()

,route_id,timestamp,trip_id,vehicle_id,vehicle_lat,vehicle_long,time_utc,time_pct
timestamp_utc,,,,,,,,
2017-12-31 23:55:06,100249,1514764506,34922827,7006,47.617992,-122.320847,2017-12-31 23:55:06,2017-12-31 15:55:06-08:00
2017-12-31 23:55:07,100146,1514764507,34763985,6905,47.598827,-122.328072,2017-12-31 23:55:07,2017-12-31 15:55:07-08:00
2017-12-31 23:55:08,100469,1514764508,34970012,7062,47.412113,-122.272278,2017-12-31 23:55:08,2017-12-31 15:55:08-08:00
2017-12-31 23:55:28,100259,1514764528,34771722,3676,47.706902,-122.317825,2017-12-31 23:55:28,2017-12-31 15:55:28-08:00
2017-12-31 23:55:28,100101,1514764528,34922364,2770,47.555485,-122.376259,2017-12-31 23:55:28,2017-12-31 15:55:28-08:00

In [9]:
df.to_hdf('./data/intermed/positions_201801.h5', key='df', mode='w')