### This script combines data from gtfs files from multiple dates. It outputs combined shapes, routes, and trips files. It also outputs an aggregated "full trip stop schedule" file, which contains columns from various gtfs input files.

In [2]:
import pandas as pd
import numpy as np
import datetime
from collections import defaultdict

In [2]:
# root directory for all the gtfs data files from different dates
#/Users/benjaminmalnor/sandbox/bus350/gtfs-realtime
gtfs_folder = "./data/source/"

In [3]:
# create dictionary keyed by date then file type;
# each entry is a pandas dataframe
date_file_dict = defaultdict(dict)
file_types = ['stops', 'stop_times', 'trips', 'shapes', 'routes']

In [4]:
# specify set of dates to combine
# (for a set of files labeled with a certain date, 
# those data apply from that date up until the day before 
# the next date for which data files exist)
date_start_end_dict = {'20190420':('2019-04-20','2019-05-08'),
                       '20190509':('2019-05-09','2019-06-18')
                       }
dates = list(date_start_end_dict.keys())

# make sure to change out_suffix below to correspond to this date range!

In [5]:
# read in each file type for each date, and store in dictionary
for date in dates:
    for f in file_types:
        file_location = f"{gtfs_folder}gtfs_{date}/{f}.txt"
        date_file_dict[date][f] = pd.read_csv(file_location)
        date_file_dict[date][f]['start_gtfs_date'] = \
            datetime.datetime.strptime(date_start_end_dict[date][0], "%Y-%m-%d")
        date_file_dict[date][f]['end_gtfs_date'] = \
            datetime.datetime.strptime(date_start_end_dict[date][1], "%Y-%m-%d")

In [6]:
# get the desired set of columns for the new aggregated "full trip stop schedule" file
def trip_stop_schedule(gtfs_stops, gtfs_stop_times, gtfs_trips, gtfs_routes):
    gtfs_stops.drop(['start_gtfs_date','end_gtfs_date'], axis=1, inplace=True)
    trip_stops_w_names = gtfs_stop_times.merge(gtfs_stops, how='left',on='stop_id')
    trip_arrival_time = trip_stops_w_names.loc[trip_stops_w_names['stop_sequence']==1,['trip_id','stop_sequence','arrival_time']]\
                        .groupby('trip_id')\
                        .agg({'arrival_time':'max'})\
                        .reset_index()\
                        .rename(columns={'arrival_time':'trip_start_time'})
    trip_stops_w_names = trip_stops_w_names.merge(trip_arrival_time, how='left', on='trip_id')
    
    trip_stops_w_name_route = trip_stops_w_names.merge(gtfs_trips[['trip_id','route_id','direction_id','trip_headsign','shape_id']], how='left',on='trip_id')
    
    trip_stops_w_name_route = trip_stops_w_name_route.merge(gtfs_routes[['route_id', 'route_short_name', 'route_desc']], how='left', on='route_id')

    return trip_stops_w_name_route

In [7]:
# for each date, aggregate information from various files
file_types.append('aggregated')
for date in dates:
    date_file_dict[date][file_types[-1]] = trip_stop_schedule(date_file_dict[date]['stops'], 
                                                              date_file_dict[date]['stop_times'],
                                                              date_file_dict[date]['trips'], 
                                                              date_file_dict[date]['routes'])

In [8]:
# append all the data from different dates for each file type 
# (including the new aggregated file type)
file_dict = {}
for f in file_types:
    file_dict[f] = date_file_dict[dates[0]][f].copy()
    for date in dates[1:]:
        file_dict[f] = file_dict[f].append(date_file_dict[date][f])

In [9]:
file_dict['aggregated'].columns

Index(['trip_id', 'arrival_time', 'departure_time', 'stop_id', 'stop_sequence',
       'stop_headsign', 'pickup_type', 'drop_off_type', 'shape_dist_traveled',
       'start_gtfs_date', 'end_gtfs_date', 'stop_code', 'stop_name',
       'stop_desc', 'stop_lat', 'stop_lon', 'zone_id', 'stop_url',
       'location_type', 'parent_station', 'stop_timezone', 'trip_start_time',
       'route_id', 'direction_id', 'trip_headsign', 'shape_id',
       'route_short_name', 'route_desc'],
      dtype='object')

In [10]:
# suffix for the output files specifying the date range they contain; 
# we could get this from date_start_end_dict 
# here's a gross way to get min/max date - please make it better :)
date_list = []
for key, vals in date_start_end_dict.items():
    date_list.append(datetime.datetime.strptime(vals[0],"%Y-%m-%d"))
    date_list.append(datetime.datetime.strptime(vals[0],"%Y-%m-%d"))
date_list.sort()
start_date = date_list[0].strftime("%Y-%m-%d")
end_date = date_list[-1].strftime("%Y-%m-%d")
out_suffix = f"{start_date}_{end_date}"

In [11]:
#output folder
gtfs_output_folder = "./data/gtfs_merge/"

In [12]:
# write output csv files
file_dict['aggregated'].to_csv(f"{gtfs_output_folder}gtfs_agg_{out_suffix}.csv", index=False)
file_dict['shapes'].to_csv(f"{gtfs_output_folder}gtfs_shapes_{out_suffix}.csv", index=False)
file_dict['routes'].to_csv(f"{gtfs_output_folder}gtfs_routes_{out_suffix}.csv", index=False)
file_dict['trips'].to_csv(f"{gtfs_output_folder}gtfs_trips_{out_suffix}.csv", index=False)

In [7]:
df = pd.read_hdf("2018_12_01_positions.h5")

In [8]:
df.dtypes

vehicle_id                          object
timestamp                           object
trip_id                             object
route_id                            object
vehicle_lat                        float64
vehicle_long                       float64
time_utc                    datetime64[ns]
time_pst        datetime64[ns, US/Pacific]
dtype: object

In [9]:
df.set_index("time_pst")

,vehicle_id,timestamp,trip_id,route_id,vehicle_lat,vehicle_long,time_utc
time_pst,,,,,,,
2018-11-30 19:36:03-08:00,6029,1543635363,40422300,102548,47.677052,-122.125549,2018-12-01 03:36:03
2018-11-30 19:36:59-08:00,8213,1543635419,40569902,100169,47.593361,-122.329048,2018-12-01 03:36:59
2018-11-30 19:36:54-08:00,3646,1543635414,40570008,100252,47.678116,-122.325729,2018-12-01 03:36:54
2018-11-30 19:36:27-08:00,3679,1543635387,39683585,100203,47.774464,-122.341980,2018-12-01 03:36:27
2018-11-30 19:37:26-08:00,4403,1543635446,40986086,100173,47.639584,-122.360527,2018-12-01 03:37:26
...,...,...,...,...,...,...,...
2018-12-01 14:51:57-08:00,2681,1543704717,40988679,100447,47.615219,-122.325142,2018-12-01 22:51:57
2018-12-01 14:51:45-08:00,7230,1543704705,40775297,100113,47.673546,-122.132584,2018-12-01 22:51:45
2018-12-01 14:51:46-08:00,7091,1543704706,40950107,100249,47.623955,-122.319893,2018-12-01 22:51:46
2018-12-01 14:51:50-08:00,6210,1543704710,40949377,102576,47.520996,-122.390846,2018-12-01 22:51:50
2018-12-01 14:52:36-08:00,6224,1543704756,40949378,102576,47.561081,-122.385933,2018-12-01 22:52:36